<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The ShoutBoard 2.0 <%= @page_title ||= ''%></title>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag "prototype" %>
<script type="text/javascript">
function toggle_textarea_and_input_field(dom_id) {
	current_text = $('message_body').getValue();
	type = $('message_message_type').getValue();
	if (type == 'says') {
		$('shout_body_input').replace('<div id="shout_body_input"><%= text_field_tag "message[body]", '', :id => "message_body", :size => "60", :class => "says" %></div>');
	} else {
		$('shout_body_input').replace('<div id="shout_body_input"><%= text_area_tag "message[body]", '', :id => "message_body", :class => "codes"%></div>');
	}
	$('message_body').setValue(current_text);
}

//sets cursor to the new message body input
function focus_on_shout() {
	$("message_body").focus();
}
</script>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>
<body>
	<div id="header">
  	<%= render :partial => 'shared/header' %>	
	</div>
  <div id="content" style="position:relative">
    <%= yield %>
  </div>
  <div id="footer">
    <%= render :partial => 'shared/footer' %>		
  </div>
</body>
</html>